<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      BMI Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
   <h1>BMI Calculator</h1>
   <h3>We are about your health!</h3>
   <img src="https://upload.wikimedia.org/wikipedia/commons/7/70/Symbolic_Love_Heart.png" width="200px"/>

   <ion-item>
  <ion-label position="floating">Enter your height</ion-label>
  <ion-input [(ngModel)]="height"></ion-input>
  </ion-item>

   <ion-item>
  <ion-label position="floating">Enter your weight</ion-label>
  <ion-input [(ngModel)]="weight"></ion-input>
  </ion-item>

  <ion-button expand="full" color="danger" (click)="buttonPressed()">Calculate</ion-button>

  <div *ngIf="bmi">
    <p>Your BMI is: {{bmi}}</p>
    <p>{{message}}</p>
  </div>
  
  </div>
</ion-content>
